<main class="index">
    <header class="masthead d-flex">
<div class="container text-center my-auto">
    <h1 class="mb-1">Enlaces Favoritos</h1>
    <h3 class="mb-5"><em>Almacena tus links favoritos.</em></h3>
    <a href="/signin" class="btn btn-primary">Empezar a usar.</a>
</div>
    </header>

</main>