<!-- Aqui van a ir los codigos que tengan en comun las vistas. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links App</title>
</head>
<body>
    {{{ body }}} <!-- Esto significa que en las vistas lo unico que va a cambiar va a ser el body -->
</body>
</html>