<!-- Aqui van a ir los codigos que tengan en comun las vistas. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links App</title>
{{!-- GOOGLE FONTS --}}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
{{!-- BOOTSTRAP --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{!-- FONT AWESOME --}}
<script src="https://kit.fontawesome.com/b6d3d6a7c1.js" crossorigin="anonymous"></script>
</head>
{{!-- STYLES --}}
<link rel="stylesheet" href="/src/public/css/styles.css">
<body>
    {{{ body }}} <!-- Esto significa que en las vistas lo unico que va a cambiar va a ser el body -->
</body>
</html>